<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
{% extends "headerfooter.html" %}
{% block content %}

 <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-4 pb-sm-4">
                <h4 class="inner-text-title font-weight-bold pt-5">About Us</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>About</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- about block -->
    <section class="w3l-servicesblock py-5">
        <div class="container py-lg-5 py-4">
            <div class="row pt-xl-5 pt-lg-0 pt-5 pb-xl-4 align-items-center">
                <div class="col-lg-6 position-relative home-block-3-left">
                    <div class="position-relative">
                        <img src="/static/assets/images/home2.jpg" alt="" class="img-fluid radius-image">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 offset-xl-1 mt-lg-0 mt-5">
                    <h3 class="title-style">Welcome to World Best Business Company</h3>
                    <p class="mt-lg-4 mt-3 mb-sm-5 mb-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. </p>
                    <div class="two-grids mt-md-0 mt-md-5 mt-4">
                        <div class="grids_info">
                            <i class="fas fa-user-clock primary-clr-bg"></i>
                            <div class="detail">
                                <h4>Our Mission</h4>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            </div>
                        </div>
                        <div class="grids_info mt-sm-5 mt-4">
                            <i class="fas fa-laptop-house green-clr-bg"></i>
                            <div class="detail">
                                <h4>Our Vision</h4>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            </div>
                        </div>
                        <div class="grids_info mt-sm-5 mt-4">
                            <i class="fas fa-laptop-house blue-clr-bg"></i>
                            <div class="detail">
                                <h4>Our Values</h4>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about block -->

    <!-- stats -->
    <section class="w3_stats py-5" id="stats">
        <div class="container py-md-5 py-4">
            <div class="w3-stats text-center py-md-4">
                <div class="row mt-4">
                    <div class="col-md-3 col-6">
                        <div class="counter">
                            <i class="fas fa-users"></i>
                            <div class="timer count-title count-number mt-3" data-to="1286" data-speed="1500"></div>
                            <p class="count-text">Workers</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="counter">
                            <i class="far fa-smile"></i>
                            <div class="timer count-title count-number mt-3" data-to="36076" data-speed="1500"></div>
                            <p class="count-text">Happy Customers</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter">
                            <i class="fas fa-box-open"></i>
                            <div class="timer count-title count-number mt-3" data-to="16300" data-speed="1500"></div>
                            <p class="count-text">Projects</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter">
                            <i class="fas fa-trophy"></i>
                            <div class="timer count-title count-number mt-3" data-to="10630" data-speed="1500"></div>
                            <p class="count-text">Win awards</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->

    <!-- team -->
    <section class="w3l-team py-5" id="team">
        <div class="container py-md-5 py-4">
            <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4 pb-xl-4" style="max-width:600px">
                <h3 class="title-style mb-2">Get Advice From Expert</h3>
                <p>Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                    repellat.</p>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-6">
                    <div class="team-grids text-center">
                        <img src="/static/assets/images/team1.jpg" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <div class="social-icons-section text-center">
                                    <a class="fac" href="#url">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter" href="#url">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>John Doe</h4>
                    <h6>Founder and CEO</h6>
                </div>
                <div class="col-md-3 col-6">
                    <div class="team-grids text-center">
                        <img src="/static/assets/images/team3.jpg" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <div class="social-icons-section text-center">
                                    <a class="fac" href="#url">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter" href="#url">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Martin ker</h4>
                    <h6>Partner & co-founder</h6>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-sm-5 mt-5">
                    <div class="team-grids text-center">
                        <img src="/static/assets/images/team2.jpg" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <div class="social-icons-section text-center">
                                    <a class="fac" href="#url">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter" href="#url">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4> Alexander</h4>
                    <h6>Chairmen</h6>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-sm-5 mt-5">
                    <div class="team-grids text-center">
                        <img src="/static/assets/images/team4.jpg" class="img-fluid" alt="">
                        <div class="team-info">
                            <div class="caption">
                                <div class="social-icons-section text-center">
                                    <a class="fac" href="#url">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="twitter" href="#url">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Elizabeth </h4>
                    <h6>Manager</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- team -->

    <!-- testimonials section -->
    <section class="w3l-testimonials pb-5" id="testimonials">
        <div class="container py-md-5 py-4">
            <div class="title-heading-w3 mx-auto text-center mb-5 pb-xl-4" style="max-width:600px">
                <h3 class="title-style mb-2">What Our Clients Say!</h3>
                <p>Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                    repellat.</p>
            </div>
            <div class="owl-testimonial owl-carousel owl-theme mx-auto" style="max-width:1000px">
                <div class="item">
                    <div class="slider-info">
                        <div class="img-circle">
                            <img src="/static/assets/images/testi1.jpg" class="img-fluid rounded" alt="client image">
                        </div>
                        <div class="message-info">
                            <span class="fa fa-quote-left mr-2"></span>
                            <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                                accusantium officia quod quasi necessitatibus perspiciatis Harum error provident
                                quibusdam tenetur dolor sit amet.Nulla mollis dapibus nunc, ut rhoncus turpis sodales
                                quis. Integer sit amet mattis quam.consectetur adipisicing elit.Lorem ipsum, dolor sit
                                amet consectetur adipisicing elit</div>
                            <div class="name">- Johnson</div>
                            <div class="desp">Comapany ,City</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slider-info">
                        <div class="img-circle">
                            <img src="/static/assets/images/testi2.jpg" class="img-fluid rounded" alt="client image">
                        </div>
                        <div class="message-info">
                            <span class="fa fa-quote-left mr-2"></span>
                            <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                                accusantium
                                officia quod quasi necessitatibus perspiciatis Harum error provident
                                quibusdam tenetur.Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit
                                amet mattis quam.consectetur adipisicing elit.Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit</div>
                            <div class="name">- Sami Wade</div>
                            <div class="desp">Comapany ,City</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slider-info">
                        <div class="img-circle">
                            <img src="/static/assets/images/testi3.jpg" class="img-fluid rounded" alt="client image">
                        </div>
                        <div class="message-info">
                            <span class="fa fa-quote-left mr-2"></span>
                            <div class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                                accusantium
                                officia quod quasi necessitatibus perspiciatis Harum error provident
                                quibusdam tenetur.Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit
                                amet mattis quam.consectetur adipisicing elitLorem ipsum, dolor sit amet consectetur
                                adipisicing elit.</div>
                            <div class="name">- Smith roy</div>
                            <div class="desp">Comapany ,City</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //testimonials section -->
    {% endblock %}

   